<nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>{{componentName}}</nz-page-header-title>
</nz-page-header>
<nz-card>
    <div class="container-fluid" [formGroup]="editUserForm">
        <div class="row">
            <div class="col-md-3">
                <nz-form-label class="filter">Nome</nz-form-label><br/>
                <input type="text" formControlName="name" nz-input placeholder="Nome">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Sobrenome</nz-form-label><br/>
                <input type="text" formControlName="lastname" nz-input placeholder="Sobrenome">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">E-mail</nz-form-label><br/>
                <input type="text" formControlName="email" nz-input placeholder="E-mail">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Tipo de cadastro</nz-form-label><br/>
                <nz-select formControlName="role_id" class="w-100">
                    <nz-option *ngFor="let role of roles" [nzValue]="role.id" [nzLabel]="role.name"></nz-option>
                </nz-select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <nz-form-label class="filter">Senha</nz-form-label><br/>
                <input type="text" formControlName="password" nz-input placeholder="Senha">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Confirme a Senha</nz-form-label><br/>
                <input type="text" formControlName="c_password" nz-input placeholder="Confirme a Senha">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">RG</nz-form-label><br/>
                <input type="text" formControlName="rg" nz-input placeholder="RG">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">CPF</nz-form-label><br/>
                <input type="text" formControlName="cpf" nz-input placeholder="CPF">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <nz-form-label class="filter">Logradouro</nz-form-label><br/>
                <input type="text" formControlName="logradouro" nz-input placeholder="Logradouro">
            </div>
            <div class="col-md-2">
                <nz-form-label class="filter">Número</nz-form-label><br/>
                <input type="text" formControlName="numero" nz-input placeholder="Número">
            </div>
            <div class="col-md-2">
                <nz-form-label class="filter">Complemento</nz-form-label><br/>
                <input type="text" formControlName="complemento" nz-input placeholder="Complemento">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Bairro</nz-form-label><br/>
                <input type="text" formControlName="bairro" nz-input placeholder="Bairro">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <nz-form-label class="filter">CEP</nz-form-label><br/>
                <input type="text" formControlName="cep" nz-input placeholder="CEP">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Cidade</nz-form-label><br/>
                <input type="text" formControlName="cidade" nz-input placeholder="Cidade">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Estado</nz-form-label><br/>
                <input type="text" formControlName="estado" nz-input placeholder="Estado">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">País</nz-form-label><br/>
                <input type="text" formControlName="pais" nz-input placeholder="País">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <nz-form-label class="invisible"></nz-form-label><br/>
                <button (click)="editarUsuario()" class="w-100" nz-button nzType="primary">Editar</button>
            </div>
        </div>
    </div>
</nz-card>