<div class="container-fluid p-0 h-100">
    <div class="row no-gutters h-100">
        <div class="col-lg-4 d-none d-lg-flex" style="background-image:url('assets/images/others/login-1.jpg')">
            <div class="d-flex h-100 p-h-40 flex-column justify-content-center">
                <div class="h-200">
                    <div>
                        <a [routerLink]="['/'+workspace+'/login']"><img src="assets/images/logo/logo-white.png" alt=""></a>
                    </div>
                    <div>
                        <h1 class="text-white m-b-20 font-weight-normal"></h1>
                        <p class="text-white font-size-16 lh-2 w-80 opacity-08">
                            Simplificando e agilizando o gerenciamento da documentação e informações de pacientes em clínicas psicológicas multidisciplinares.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 bg-white">
            <div class="container h-100">
                <div class="row no-gutters h-100 align-items-center">
                    <div class="col-md-8 col-lg-7 col-xl-6 mx-auto">
                        <h2>Esqueci a Senha - {{workspace}}</h2>
                        <p class="m-b-30">Digite seu e-mail para receber um link de redefinição de senha!</p>
                        <form nz-form [formGroup]="loginForm" nzLayout="vertical" class="login-form" (ngSubmit)="submitForm()">
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="userName">E-mail</nz-form-label>
                                <nz-form-control nzErrorTip="Digite seu e-mail!">
                                    <nz-input-group [nzPrefix]="prefixUser">
                                        <input type="text" nz-input formControlName="userName" placeholder="E-mail">
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-control>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <button nz-button class="login-form-button" [nzType]="'primary'">Esqueci minha senha</button>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </form>
                        <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
                        <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>