<nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>{{componentName}}</nz-page-header-title>
</nz-page-header>
<nz-card>
    <div class="form">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <nz-form-label class="filter">Buscar por nome</nz-form-label><br/>
                    <input type="text" nzPrefix="searchPrefix" nz-input placeholder="Buscar por nome">
                    <ng-template #searchPrefix>
                        <i class="opacity-04" nz-icon nzType="search"></i>
                    </ng-template>
                </div>
                <div class="col-md-2">
                    <nz-form-label class="filter">Ativo</nz-form-label><br/>
                    <nz-select class="w-100">
                        <nz-option nzValue="jack" nzLabel="Ativos"></nz-option>
                        <nz-option nzValue="lucy" nzLabel="Inativos"></nz-option>
                      </nz-select>
                </div>
                <div class="col-md-2">
                    <nz-form-label class="invisible"></nz-form-label><br/>
                    <button class="w-100" nz-button nzType="primary">Pesquisar</button>
                </div>
                <div class="col-md-1">
                    <nz-form-label class="invisible"></nz-form-label><br/>
                    <button (click)="newFormulario()" class="w-100" nz-button nzType="primary"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
                </div>
            </div>
        </div>
    </div>
</nz-card>
<nz-card>
    <nz-table 
        [nzData]="formularios"
        [nzSize]="10" 
        #usersTable>
        <thead>   
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Departamento</th>
                <th>Status</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let formulario of formularios">
                <td>{{formulario.id}}</td>
                <td>{{formulario.name}}</td>
                <td>{{formulario.department_name}}</td>
                <td>{{formulario.status}}</td>
                <td>
                    <a  nz-popconfirm
                    nzPopconfirmTitle="Tem certeza que quer desativar esse formulário?"
                    nzPopconfirmPlacement="top"
                    (nzOnConfirm)="confirm(formulario.id)"
                    nz-icon nzType="delete" nzTheme="outline"></a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>