<nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>{{componentName}}</nz-page-header-title>
</nz-page-header>
<nz-card>
    <div class="container-fluid" [formGroup]="editSetorForm">
        <div class="row">
            <div class="col-md-12">
                <nz-form-label class="filter">Nome do setor</nz-form-label><br/>
                <input type="text" formControlName="name" nz-input placeholder="Nome do setor">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nz-form-label class="filter">Descrição</nz-form-label><br/>
                <textarea nz-input formControlName="descricao" placeholder="Descrição"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <nz-form-label class="invisible"></nz-form-label><br/>
                <button (click)="editaSetor()" class="w-100" nz-button nzType="primary">Cadastrar</button>
            </div>
        </div>
    </div>
</nz-card>