<nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>{{componentName}}</nz-page-header-title>
</nz-page-header>
<nz-card>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <nz-form-label class="filter">Nome</nz-form-label><br/>
                <input type="text" nz-input placeholder="Nome">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Sobrenome</nz-form-label><br/>
                <input type="text" nz-input placeholder="Sobrenome">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">E-mail</nz-form-label><br/>
                <input type="text" nz-input placeholder="E-mail">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Tipo de cadastro</nz-form-label><br/>
                <nz-select  class="w-100">
                    <nz-option *ngFor="let role of roles" [nzValue]="role.id" [nzLabel]="role.name"></nz-option>
                </nz-select>
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Senha</nz-form-label><br/>
                <input type="text" nz-input placeholder="Senha">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Confirme a Senha</nz-form-label><br/>
                <input type="text" nz-input placeholder="Confirme a Senha">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">RG</nz-form-label><br/>
                <input type="text" nz-input placeholder="RG">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">CPF</nz-form-label><br/>
                <input type="text" nz-input placeholder="CPF">
            </div>
            <div class="col-md-5">
                <nz-form-label class="filter">Logradouro</nz-form-label><br/>
                <input type="text" nz-input placeholder="Logradouro">
            </div>
            <div class="col-md-2">
                <nz-form-label class="filter">Número</nz-form-label><br/>
                <input type="text" nz-input placeholder="Número">
            </div>
            <div class="col-md-2">
                <nz-form-label class="filter">Complemento</nz-form-label><br/>
                <input type="text" nz-input placeholder="Complemento">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Bairro</nz-form-label><br/>
                <input type="text" nz-input placeholder="Bairro">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">CEP</nz-form-label><br/>
                <input type="text" nz-input placeholder="CEP">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Cidade</nz-form-label><br/>
                <input type="text" nz-input placeholder="Cidade">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Estado</nz-form-label><br/>
                <input type="text" nz-input placeholder="Estado">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">País</nz-form-label><br/>
                <input type="text" disabled nz-input placeholder="País">
            </div>
        </div>
        <div class="row" *ngIf="tipo_cadastro == 2">
            <div class="col-md-12">
                <nz-card class="w-100 m-v-30 header-primary" nzTitle="Colaboradores Atribuidos">
                    <div *ngFor="let setor of setores;let i = index">
                        <div class="row">
                            <div class="col-md-6">
                                <nz-form-label class="filter">
                                    Setor
                                </nz-form-label><br/>
                                <input type="text" readonly nz-input [value]="setor.nome">
                            </div>
                            <div class="col-md-6">
                                <nz-form-label class="filter">
                                    Colaborador responsável
                                </nz-form-label><br/>
                                <nz-select class="w-100">
                                    <nz-option *ngFor="let colaborador of setores[i].colaboradores" [nzValue]="colaborador.id" [nzLabel]="colaborador.name+' '+colaborador.lastname"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>
                </nz-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <nz-form-label class="invisible"></nz-form-label><br/>
                <button (click)="cadastraUsuario()" class="w-100" nz-button nzType="primary">Cadastrar</button>
            </div>
        </div>
    </div>
</nz-card>