.ant-btn-primary {
    background-color: #35ce8d!important;
    border-color: #35ce8d!important;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a img {
    width: 70%;
}

.logo a img.logo-fold {
    width: 100%;
}

nz-page-header {
    padding: 0!important;
}

.header *{
    color:white!important;
}