<nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>{{componentName}}</nz-page-header-title>
</nz-page-header>
<nz-card>
    <div class="container-fluid" [formGroup]="editUserForm">
        <div class="row">
            <div class="col-md-2">
                <nz-form-label class="filter">Nome</nz-form-label><br/>
                <input type="text" readonly formControlName="name" nz-input placeholder="Nome">
            </div>
            <div class="col-md-2">
                <nz-form-label class="filter">Sobrenome</nz-form-label><br/>
                <input type="text" readonly formControlName="lastname" nz-input placeholder="Sobrenome">
            </div>
            <div class="col-md-2">
                <nz-form-label class="filter">E-mail</nz-form-label><br/>
                <input type="text" readonly formControlName="email" nz-input placeholder="E-mail">
            </div>
            <div class="col-md-2">
                <nz-form-label class="filter">Tipo de cadastro</nz-form-label><br/>
                <input type="text" readonly formControlName="role_name" nz-input placeholder="Cadastro">
            </div>
            <div class="col-md-2">
                <nz-form-label class="filter">RG</nz-form-label><br/>
                <input type="text" readonly formControlName="rg" nz-input placeholder="RG">
            </div>
            <div class="col-md-2">
                <nz-form-label class="filter">CPF</nz-form-label><br/>
                <input type="text" readonly formControlName="cpf" nz-input placeholder="CPF">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <nz-form-label class="filter">Logradouro</nz-form-label><br/>
                <input type="text" readonly formControlName="logradouro" nz-input placeholder="Logradouro">
            </div>
            <div class="col-md-2">
                <nz-form-label class="filter">Número</nz-form-label><br/>
                <input type="text" readonly formControlName="numero" nz-input placeholder="Número">
            </div>
            <div class="col-md-2">
                <nz-form-label class="filter">Complemento</nz-form-label><br/>
                <input type="text" readonly formControlName="complemento" nz-input placeholder="Complemento">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Bairro</nz-form-label><br/>
                <input type="text" readonly formControlName="bairro" nz-input placeholder="Bairro">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <nz-form-label class="filter">CEP</nz-form-label><br/>
                <input type="text" readonly formControlName="cep" nz-input placeholder="CEP">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Cidade</nz-form-label><br/>
                <input type="text" readonly formControlName="cidade" nz-input placeholder="Cidade">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">Estado</nz-form-label><br/>
                <input type="text" readonly formControlName="estado" nz-input placeholder="Estado">
            </div>
            <div class="col-md-3">
                <nz-form-label class="filter">País</nz-form-label><br/>
                <input type="text" readonly formControlName="pais" nz-input placeholder="País">
            </div>
        </div>
    </div>
</nz-card>
<nz-card nzTitle="Progresso - {{setor_nome}}" [nzExtra]="extraTemplate">
    <nz-table nzData="registros">
        <thead>
            <th class="w-10">ID</th>
            <th class="w-20">Descrição</th>
            <th class="w-20">Formulário</th>
            <th class="w-20">Observação</th>
            <th class="w-15">Data</th>
            <th class="w-20">Ação</th>
        </thead>
        <tbody>
            <tr *ngFor="let registro of registros;">
                <td>{{registro.id}}</td>
                <td>{{registro.titulo}}</td>
                <td>{{registro.formulario_nome}}</td>
                <td>{{registro.observacao}}</td>
                <td>{{registro.creation_dt}}</td>
                <td>
                    <button class="w-100" (click)="verficha(user_id,registro.id)" nz-button nzType="primary">
                        <span nz-icon nzType="eye" nzTheme="outline"></span>
                        Ver Ficha
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>   
</nz-card>
<ng-template #extraTemplate>
    <button class="w-100" (click)="addFicha(user_id)" nz-button nzType="primary">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        Novo Registro
    </button>
  </ng-template>