<nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>{{componentName}}</nz-page-header-title>
</nz-page-header>
<nz-card>
    <div class="form">
        <div class="container-fluid">
            <div class="row" [formGroup]="formularioForm">
                <div class="col-md-12">
                    <nz-form-label class="filter">Nome do formulário</nz-form-label><br/>
                    <input type="text" nzPrefix="searchPrefix" formControlName="nome" nz-input placeholder="Buscar por nome">
                </div>
                <div class="col-md-12">
                    <nz-form-label class="filter">Departamento</nz-form-label><br/>
                    <nz-select formControlName="departamento" class="w-100">
                        <nz-option></nz-option>
                    </nz-select>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row" *ngFor="let field of fields;let i = index">
                        <div class="col-md-6">
                            <nz-form-label class="filter">Nome do campo</nz-form-label><br/>
                            <input type="text" (keyup)="changeData(i,$event,'nome_campo')" nzPrefix="searchPrefix" nz-input placeholder="Buscar por nome">                    
                        </div>
                        <div class="col-md-3">
                            <nz-form-label class="filter">Tipo do campo</nz-form-label><br/>
                            <nz-select [ngModel]="1" (ngModelChange)="changeSelectForm($event,i)" class="w-100">
                                <nz-option [nzValue]="1" nzLabel="Texto"></nz-option>
                                <nz-option [nzValue]="2" nzLabel="Caixa de seleção"></nz-option>
                                <nz-option [nzValue]="3" nzLabel="Data"></nz-option>
                                <nz-option [nzValue]="4" nzLabel="Área de Texto"></nz-option>
                            </nz-select>
                        </div>
                        <div class="col-md-2">
                            <div *ngIf="field.show_values == true">
                                <nz-form-label class="filter">Separe as opções por vírgula</nz-form-label><br/>
                                <input type="text" (keyup)="changeData(i,$event,'values')" nzPrefix="searchPrefix" nz-input placeholder="Separar por vírgula">                    
                            </div>
                        </div>
                        <div class="col-md-1">
                            <nz-form-label class="invisible"></nz-form-label><br/>
                    <button (click)="removeField(i)" class="w-100" nz-button nzType="primary"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <nz-form-label class="invisible"></nz-form-label><br/>
                    <button (click)="addField()" class="w-100" nz-button nzType="default">Adicionar campo</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <nz-form-label class="invisible"></nz-form-label><br/>
                    <button (click)="cadastrarFormulario()" class="w-100" nz-button nzType="primary">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</nz-card>
